html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
}

#content {
  background: rgb(0, 242, 39);
  background: linear-gradient(90deg, rgba(0, 242, 39, 1) 0%, rgba(0, 142, 21, 1) 100%);
  margin-left: 1%;
  margin-right: 1%;
  padding: 2%;
  border-radius: 20px;
}

#song-container {
  background: rgb(0, 217, 35);
  background: linear-gradient(90deg, rgba(0, 217, 35, 1) 0%, rgb(0, 156, 23) 100%);
  display: inline-block;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 1%;
}

#output {
  word-break: break-all;
}

#parent-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

.select {
  width: 140px;
  background: rgb(0, 217, 35);
  background: linear-gradient(90deg, rgba(0, 217, 35, 1) 0%, rgb(0, 156, 23) 100%);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 1%;
}

.title {
  color: #000000;
  text-shadow: 
      1px 1px 1px #313131,
      1px 2px 1px #313131,
      1px 3px 1px #313131,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);

  word-break: normal;
  text-align: center;
}

p {
  margin: 2px;
  display: inline-block;
}

ul {
  background: rgb(0, 200, 32);
  background: linear-gradient(90deg, rgba(0, 200, 32, 1) 0%, rgba(0, 87, 13, 1) 100%);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 1%;
}

li {
  margin: 10px;
  background-color: #00ff59;
  padding: 6px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  list-style-type: none;
}

button {
  background: hsla(130, 100%, 50%, 1);
  color: black;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: large;
  border-width: 1px;
  border-radius: 10px;
  border-color: #000000;
  transition: all .2s ease-in-out;
}

button:hover {
  background: hsla(130, 100%, 50%, 1);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}

select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}

.select {
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Popup container */
.popup {
  position: relative;
  display: block;
  cursor: pointer;
  float: right;
  top: 0;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  word-break: normal;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.loader {
  display: inline-block;
  zoom: 0.4;
  -moz-transform: scale(0.4);
  vertical-align: middle;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}



@media only screen and (min-width: 1000px) {
  body {
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}